.error-container {
	width: 250px;
	height: 120px;
}

.error-container__main-col {
    background-color: #ee878a;
}

.error-container__header {
    border: 2px solid green;
    padding-top: 20px;
    padding-left: 20px;
}

.error-container__header-text {
    font-size: 14px;
    color: yellow;
}

.error-container__article {
	position: fixed;
	top: 50%;
	left: 50%;
    margin-top: -60px;
	margin-left: -125px;
}

.error-container__article-text {
    font-size: 18px;
	color: yellow;
}