.error-container {
	width: 500px;
    height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

.error-container__main-col {
    background-color: #ee878a;
}

.error-container__header {
    padding-left: 170px;
    padding-top: 10px;
}

.error-container__header-text {
    font-size: 30px;
    color: rgb(255, 60, 0);
}

.error-container__article {
     padding-left: 50px;
     padding-bottom: 10px;
}

.error-container__article-text {
    font-size: 30px;
	color: yellow;
}

.error-container-text {
    font-size: 20px;
	color: yellow;
}